<launch>
    <!-- 语音识别节点 -->
    <node name="xiaoqiang_asr" pkg="xiaoqiang_tts" type="xiaoqiang_asr_node.py" output="screen">
        <!-- 设置语音识别后端程序，目前支持baidu和xunfei -->
        <param name="engine" value="xunfei"/>
        <!-- xunfei语音识别app_id,此参数要去迅飞开发者中心自己申请 -->
        <param name="app_id" value="5b2efdad" type="string"/>
        <!-- xunfei用户字典，设置此字典会优先匹配字典中的词 -->
        <param name="dict" value="$(find xiaoqiang_tts)/src/engines/xunfei/sdk/bin/userwords.txt" />
        <!-- 超时时间，超过这个时间则认为语音识别失败，取消当前识别任务 -->
        <param name="timeout" value="5000" />
        <!-- 最小识别声音，当声音小于此值时则认为没有人说话，如果环境嘈杂，适当调高此值防止误触发 -->
        <param name="min_volum" value="1500" />
        <!-- 声音来源话题 -->
        <remap from="~audio" to="/audio/audio" />
        <!-- 文字输出话题 -->
        <remap from="~text" to="/xiaoqiang_asr/text" />
        <!-- 声音输出状态 -->
        <remap from="~audio_status" to="/xiaoqiang_audio/audio_status" />
    </node>
    <!-- 录音节点 -->
    <include file="$(find audio_capture)/launch/capture_wave.launch" ns="audio"/>
    <!-- 语音合成节点 -->
    <node name="xiaoqiang_tts" pkg="xiaoqiang_tts" type="xiaoqiang_tts_node.py" output="screen">
        <!-- 设置语音合成后端程序，目前支持baidu和xunfei -->
        <param name="engine" value="xunfei"/>
        <!-- xunfei语音合成app_id,此参数要去迅飞开发者中心自己申请 -->
        <param name="app_id" value="5b2efdad" type="string"/>
        <!-- 文字输入话题 -->
        <remap from="~text" to="/xiaoqiang_tts/text" />
        <!-- 声音输出话题 -->
        <remap from="~audio" to="/xiaoqiang_audio/audio" />
    </node>
    <!-- 声音播放节点 -->
    <node name="xiaoqiang_audio" pkg="xiaoqiang_audio" type="audio_play_node.py" output="screen" />
    <!-- 自然语言处理节点 -->
    <node name="xiaoqiang_nlp" pkg="xiaoqiang_nlp" type="xiaoqiang_nlp_node.py" output="screen">
        <!-- 自然语言处理后端，目前只支持图灵机器人 -->
        <param name="engine" value="tuling"/>
        <!-- 图灵apikey,在图灵机器人官网可以申请 -->
        <param name="apikey" value="48729e91db1549669dc305fdf3efa6c5" />
        <!-- 用户ID，根据用户ID可以区分不同的用户 -->
        <param name="userid" value="5fdf3efa6c5" />
        <!-- 输入文字话题 -->
        <remap from="~listen" to="/xiaoqiang_asr/text" />
        <!-- 输出文字话题 -->
        <remap from="~talk" to="/xiaoqiang_tts/text" />
    </node>

</launch>